.Form
	&-input
		background transparent
		border none
		border-bottom 1px solid whiteA
		color whiteA
		display block
		font-size 1.3rem
		margin 0 auto
		outline none
		text-align center
@media (min-width 750px)
	.Form
		&-input
			font-size 2.5rem