div(class="Obtainer")
	section(class="Obtainer-header")
			include ../header/template.jade
	section(class="Obtainer-artist")
			include ../artist/template.jade
	section(class="Obtainer-form")
			include ../form/template.jade
	div(class="Obtainer-credits")
			include ../credits/template.jade