<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Obtener Discrografía</title>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="./public/css/app.css"/>
  </head>
  <body>
    <section class="Layout">
      <section class="Layout-obtainer">
        <div class="Obtainer">
          <section class="Obtainer-header">
            <div class="Header">
              <h1 class="Header-title">Obtener Discrografía</h1>
            </div>
          </section>
          <section class="Obtainer-artist">
            <div class="Artist">
              <figure class="Artist-image"><img/></figure>
              <figcaption class="Artist-name"></figcaption>
            </div>
          </section>
          <section class="Obtainer-form">
            <div class="Form">
              <input type="text" placeholder="Escribe el artista" id="artistName" class="Form-input"/>
              <button id="submit-btn" class="btn btn--red">Enviar</button>
            </div>
          </section>
          <div class="Obtainer-credits">
            <div class="Credits"><span>by<a href="" class="credits-link"> ederyairr</a></span></div>
          </div>
        </div>
      </section>
      <section class="Layout-albums">
        <script id="albumTemplate" type="text/template">
          <div class="Album">
            <figure class="Album-art"><img src="<%= image %>"/></figure>
            <figcaption class="Album-name"><%= title %></figcaption>
          </div>
        </script>
      </section>
    </section>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script type="text/javascript" src="public/js/app.js"></script>
  </body>
</html>