.Layout
	margin 1em auto
	background grayB
	width 95%
	display flex
	flex-direction column
	justify-content center
	align-items center
	min-height 95vh
	&-albums
		display none
		&.is-active
			display flex
			align-content space-around
			flex-wrap wrap
			justify-content center