@import 'nib'
@import 'fonts.css'
blue_A = #2A6282
blue_B = #1F4D67
red_A = #F44336
red_B = #52312F
white_A = #E4DBDB
a
	color black
	text-decoration none
body
	background blue_A
	color white_A
	font-size 100%
	font-family 'Lato'
//*mixins*//
center(top='')
	margin top auto
btnstyle(background='',border-bottom='')
	background background
	border-bottom border-bottom
.Albums
	background blue_B
	text-align center
	&-number
		text-transform uppercase
.Obtainer
	background blue_B
	display table
	text-align center
	transition 1s
	font-family 'Ubuntu', sans-serif
	height 360px
	width 100%
	&.is-animated
		margin-top -365px
	&-content
		display table-cell
		vertical-align middle
	&-input
		center(1em)
		display block
		font-size 1.2rem
	&-footer
		text-align left
.Footer
	&-menu
		text-align right
	&-item
		font-size 2rem
		margin-right .5rem
		display inline-block
.Btn
	border none
	border-radius 10px
	cursor pointer
	font-size 1.2rem
	padding .5rem 1rem
	&:active
		transform scale(.9)
	&--red
		btnstyle(red_A,2px solid red_B)
.u-block
	display block