@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-p2fkze');
	src:url('../fonts/icomoon.eot?#iefix-p2fkze') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-p2fkze') format('woff'),
		url('../fonts/icomoon.ttf?-p2fkze') format('truetype'),
		url('../fonts/icomoon.svg?-p2fkze#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter3:before {
	content: "\ea93";
}

.icon-github:before {
	content: "\eab1";
}

