.Artist
	&-image
		border 3px solid #e4dbdb
		border-radius 50%
		height 200px
		margin 0 auto
		overflow hidden
		position relative
		width 200px
		&.is-animated
			animation fill 1s infinite
	&-name
		text-transform uppercase
@keyframes fill
	0%
		border none
	25%
		border 0 solid transparent
		border-right 3px solid whiteA
	50%
		border 0 solid transparent
		border-bottom 3px solid whiteA
	75%
		border 0 solid transparent
		border-left 3px solid whiteA
	100%
		border 0 solid transparent
		border-top 3px solid whiteA