<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		title Obtener Discrografía
		link(href="http://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu" rel="stylesheet" type="text/css")
		link(rel="stylesheet", href="./public/css/app.css")
	body
		include ./layout/template.jade
		script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js")
		script(type="text/javascript" src="public/js/app.js")

